html, body {
    margin: 0 0.2em 0.2em 0.2em;
    width: auto;
    min-width: 200px;
    max-width: 400px;
    background-color: #f8f8f8;
}

.panel-section-separator {
    margin: 0.2em 0;
}

.good-api {
    background-image: url('icons/good-api.png');
    background-repeat: no-repeat;
    padding-left: 20px; 
    display: block;
}

.bad-api {
    background-image: url('icons/bad-api.png');
    background-repeat: no-repeat;
    padding-left: 20px; 
    display: block;
}

.hidden {
	display: none;
}